# Dependencies
/node_modules
/jspm_packages

# Testing
/coverage

# Production
/build
/dist
/tmp

# Environment
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db

# Logs and PID files
npm-debug.log*
*.pid
*.log
*.swo
.idea/
.vscode/

# Editor/OS Specific
.DS_Store
Thumbs.db
